[defaults]
inventory = inventory
roles_path = roles
filter_plugins = filter_plugins
display_skipped_hosts = True
color = True
diff = True
callback_whitelist = profile_tasks, timer
load_callback_plugins = True
host_key_checking = False
interpreter_python = auto_silent
timeout = 30

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
